<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
	<form method="post">
		<div class="form-group"></div>
		
		<label for="username">Username</label>
		<input class="form-control" id="username" type="text" th:field="${registerFormDTO.username}"/>
		<p th:errors="${registerFormDTO.username}"></p>
		
		<label for="password">Password</label>
		<input class="form-control" id="password" type="password" th:field="${registerFormDTO.password}"/>
		<p th:errors="${registerFormDTO.password}"></p>
		
		<label for="verifyPassword">Verify password</label>
		<input class="form-control" id="verifyPassword" type="password" th:field="${registerFormDTO.verifyPassword}"/>
		<p th:errors="${registerFormDTO.verifyPassword}"></p>
		
		<input type="submit" value="Submit"/>
	</form>
</div>

</body>

</html>
